<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg container-fluid fs-5">
    <div class="container-fluid fs-5">
        <!-- <a class="navbar-brand" href="index.html">
                    <img src="/images/logos/HydraRetro_Cartoon_BLUE.png" alt="Bootstrap" width="100">
                </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse justify-content-evenly align-items-center text-center p-3"
            id="navbarNavAltMarkup">
            <a class="nav-link" href="home">HOME</a>
            <a class="nav-link" href="color">COLOR</a>
            <a class="nav-link" href="bio">BIO</a>
            <a class="nav-link" href="contact">CONTACT</a>
        </div>
    </div>
</nav>