<%- include('partials/head') %>


    <%- include('partials/navbar') %>

        <div class="container">
            <h1>BIO.</h1>

            <h3>TORY JORDAN</h3>
            <p>Tory J. Harder is a Colorist for Digital Film & Television. His work has been featured on Netflix, Amazon
                Prime, YouTube Red, Lowe's Home Improvement, FedEx, AT&T, DirecTV, Delta Airlines, M&M's, Trojan Brand,
                and
                VTech Toys. In 2016, He was Lead Editor for the YouTube Red series, MatPats Game Lab. He is currently
                employed at the Los Angeles-based production company, Vanishing Angle as their in-house editorial.</p>
            <p>Tory received his B.S. in Digital Filmmaking & Video Production from The Art Institute of California -
                San
                Francisco.</p>
        </div>



        <%- include('partials/footer') %>